:root {
    font-size: 2vw;
}

body {
    margin: 0;
}

#screen {
    overflow: hidden;
    position: relative;
    width: 100vw;
    height: 56.25vw;

    /*  touch-action: none;*/
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

/* animation ***************************************************/
.hide {
    visibility: hidden;
}

.show {
    visibility: visible;
}

.fade_out {
    animation-name: fadeout_ani;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeout_ani {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.fade_in {
    animation-name: fadein_ani;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadein_ani {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.wavep {
    animation-name: wavep_ani;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

@keyframes wavep_ani {
    0% {
        top: 33vw;
    }

    50% {
        top: 34vw;
    }

    100% {
        top: 33vw;
    }
}

.sparkel {
    animation-name: sparkel_ani;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

@keyframes sparkel_ani {
    0% {
        transform: scale(1)
    }

    50% {
        transform: scale(1.2)
    }

    100% {
        transform: scale(1)
    }
}

.win {
    animation-name: win_ani;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

@keyframes win_ani {
    0% {
        transform: scale(1)
    }

    50% {
        transform: scale(2)
    }

    100% {
        transform: scale(1)
    }
}


.fail {
    animation-name: fail_ani;
    animation-duration: 0.3s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

@keyframes fail_ani {
    0% {
        transform: rotate(0deg)
    }

    25% {
        transform: rotate(-5deg)
    }

    50% {
        transform: rotate(5deg)
    }

    100% {
        transform: rotate(0deg)
    }
}


.wave {
    animation-name: wave_ani;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

@keyframes wave_ani {
    0% {
        top: 47vw;
    }

    50% {
        top: 45vw;
    }

    100% {
        top: 47vw;
    }
}

.drifter {
    animation-name: drifter_ani;
    animation-duration: 70s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

@keyframes drifter_ani {
    from {
        left: 0vw;
    }

    to {
        left: 100vw;
    }

}



/* animation ***************************************************/

/*START******************************************************/
#start {
    background-image: url(TitelscreenBG.jpg);
    width: 100vw;
    height: 100%;
    background-size: 100%;
    position: absolute;
    overflow: hidden;
}

#play {
    background-image: url(Play.svg);
    width: 10vw;
    height: 10vw;
    position: absolute;
    left: 45vw;
    top: 25vw;
    background-size: 100%;
}

#waves {
    background-image: url(Waves.svg);
    background-size: 100%;
    width: 103vw;
    height: 10vw;
    position: absolute;
    left: -2vw;
    top: 46vw;
}

#penguin {
    background-image: url(penguin.svg);
    background-size: 100%;
    width: 12vw;
    height: 18vw;
    position: absolute;
    left: 18vw;
    top: 33vw;
}

/*START******************************************************/

/*GAME******************************************************/

#game {
    background-image: url(spilBG.jpg);
    background-size: 100%;
    width: 100vw;
    height: 100%;
    position: absolute;
    overflow: hidden;
}

#settingsmenu {
    background-image: url(Settings.svg);
    background-size: 100%;
    width: 5vw;
    height: 5vw;
    position: absolute;
    left: 92vw;
    top: 1vw;
}

/*STARS***********************************/

#Star1 {
    background-image: url(S1.svg);
    background-size: 100%;
    width: 4.5vw;
    height: 4.5vw;
    position: absolute;
    left: 22.5vw;
    top: 16.5vw;
}


#Star2 {
    background-image: url(S2.svg);
    background-size: 100%;
    width: 4.5vw;
    height: 4.5vw;
    position: absolute;
    left: 35.2vw;
    top: 13.2vw;
}

#Star3 {
    /*EVIL*/
    background-image: url(S3.svg);
    background-size: 100%;
    width: 5.5vw;
    height: 5.5vw;
    position: absolute;
    left: 34vw;
    top: 26vw;
}

#Star4 {
    background-image: url(S4.svg);
    background-size: 100%;
    width: 4vw;
    height: 4vw;
    position: absolute;
    left: 52.2vw;
    top: 20.9vw;
}

#Star5 {
    background-image: url(S5.svg);
    background-size: 100%;
    width: 4vw;
    height: 4vw;
    position: absolute;
    left: 43vw;
    top: 18vw;
}

#Star6 {
    background-image: url(S6.svg);
    background-size: 100%;
    width: 5vw;
    height: 5vw;
    position: absolute;
    left: 54.5vw;
    top: 28.5vw;
}

#Star7 {
    /*EVIL*/
    background-image: url(S7.svg);
    background-size: 100%;
    width: 5vw;
    height: 5vw;
    position: absolute;
    left: 61.2vw;
    top: 13.9vw;
}

#Star8 {
    background-image: url(S8.svg);
    background-size: 100%;
    width: 5vw;
    height: 5vw;
    position: absolute;
    left: 70.7vw;
    top: 18.5vw;
}

#Star9 {
    background-image: url(S9.svg);
    background-size: 100%;
    width: 5vw;
    height: 5vw;
    position: absolute;
    left: 69vw;
    top: 28vw;
}

#Star0 {
    /*EVIL*/
    background-image: url(S10.svg);
    background-size: 100%;
    width: 4vw;
    height: 4vw;
    position: absolute;
    left: 77.5vw;
    top: 24.5vw;
}

/*STARS***********************************/

#game_ui {
    background-image: url(Bar.svg);
    background-size: 100%;
    width: 30vw;
    height: 6vw;
    position: absolute;
    left: 35vw;
    top: 2vw;
}


#waves2 {
    background-image: url(Waves.svg);
    background-size: 100%;
    width: 103vw;
    height: 10vw;
    position: absolute;
    left: -2vw;
    top: 47vw;
}

#penguin2 {
    background-image: url(penguin.svg);
    background-size: 100%;
    width: 12vw;
    height: 17.8vw;
    position: absolute;
    left: 100vw;
    top: 34vw;
}

/*GAME******************************************************/

/*SETTINGS******************************************************/

#settings {
    display: none;
    background-image: url(Menu.svg);
    background-size: 100%;
    width: 50vw;
    height: 33vw;
    position: absolute;
    overflow: hidden;
    left: 25vw;
    top: 10vw;
}

#off {
    width: 10vw;
    position: absolute;
    left: 35vw;
    top: 10vw;
}

#on {
    width: 10vw;
    position: absolute;
    left: 35vw;
    top: 18vw;
}

#volume {
    width: 25vw;
    position: absolute;
    left: 20vw;
    top: 25vw;
}

#out {
    width: 5vw;
    position: absolute;
    left: 43vw;
    top: 2vw;
}

/*SETTINGS******************************************************/

#gameover {
    display: none;
    background-image: url(Splash.svg);
    background-size: 100%;
    width: 80vw;
    height: 45vw;
    position: absolute;
    left: 10vw;
    top: 5vw;
}

#replay {
    width: 10vw;
    position: absolute;
    left: 42vw;
    top: 31vw;
}

#levelcomplete {
    display: none;
    background-image: url(Win.svg);
    background-size: 100%;
    width: 80vw;
    height: 50vw;
    position: absolute;
    left: 10vw;
    top: 5vw;
}

#replay2 {
    width: 10vw;
    position: absolute;
    left: 42vw;
    top: 20vw;
}
